<header class="w-100 p-0 row g-0 flex-column align-items-center h-fit">
    <!-- Piso de arriba -->
    <div class="bg-black col-12 d-flex justify-content-evenly align-items-center">

        <!-- Logo principal -->
        <img class="cursor-pointer" [src]="logos.carServ" width="150px" height="100px" [routerLink]="'home'">

        <!-- Buscador -->
        <cmm-cmp-i-text class="d-sm-flex d-none flex-grow-1 mx-3" [subscriptSizing]="'dynamic'" label="Buscar"
            style="max-width: 400px;">
            <mat-icon>search</mat-icon>
        </cmm-cmp-i-text>

        <!-- Botón de ir al perfil -->
        <div class="d-none d-xl-flex align-items-center justify-content-center">

            <div class="d-flex flex-column">
                <span class="text-white">Mi cuenta</span>
                <span class="text-white fs-14">Hola. Ingresar</span>
            </div>

            <mat-icon class="text-white fs-30 w-30 cursor-pointer"
                style="height: 30px !important;">arrow_drop_down</mat-icon>
        </div>

        <!-- Íconos -->
        <span class="d-none d-xl-flex">
            <mat-icon class="header_icon text-white fs-30 cursor-pointer">person_outline</mat-icon>
            <mat-icon class="header_icon text-white fs-30 cursor-pointer"
                routerLink="Productos/Carrito">shopping_cart_outline</mat-icon>
        </span>

        <!-- Botón de menú -->
        <button mat-icon-button class="d-flex d-xl-none text-white" aria-label="Example icon-button with a menu"
            (click)="toggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>

    </div>

    <!-- Piso de abajo -->
    <div class="col-12 d-none d-xl-flex justify-content-center cmm-bg-project-primary">

        <div *ngFor="let item of menuLinks" class="dropdown h-100 p-3  cmm-bg-project-primary" routerLink="/Productos">

            <a class="cmm-txt-thin-bold text-white cursor-pointer">{{item.header}}</a>

            <cmp-main-dropdown-menu class="dropdown_menu shadowBorder" [data]="item.items"></cmp-main-dropdown-menu>

        </div>

    </div>

</header>