<div class="w-100 p-4">

    <div class="border">

        <div class="border p-2 w-100">
            <h5 class="text-center cmm-txt-thin-bold">CATEGORÍAS</h5>
        </div>

        <!-- Caja de categoría -->
        <div *ngFor="let item of categorieTypes" class="border py-2 px-3 w-100">

            <!-- Categoría principal -->
            <mat-expansion-panel hideToggle class="w-100 h-100">

                <mat-expansion-panel-header class="w-100 h-100">

                    <!-- Título -->
                    <mat-panel-title class="d-flex justify-content-between">
                        <h6 class=" text-start cmm-txt-thin-bold cursor-pointer">{{item.name}}</h6>
                        <mat-icon *ngIf="item.children?.length" class="cursor-pointer">expand_more</mat-icon>
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <!-- Categorías hijas -->
                <div class="d-flex flex-column cursor-pointer ms-2">
                    <span *ngFor="let child of item.children" class="my-1">{{child.name}}</span>
                </div>

            </mat-expansion-panel>


        </div>

    </div>

    <!-- Categorías -->
    <div class="border mt-5">

        <div class="border p-2 w-100">
            <h5 class="text-center cmm-txt-thin-bold">CATEGORÍAS</h5>
        </div>

        <div class="p-3">

            <!-- Categorías hijas -->
            <div class="d-flex flex-column cursor-pointer ms-2">
                <span class="my-1">Ref $100 - $76</span>
            </div>
            <div class="d-flex flex-column cursor-pointer ms-2">
                <span class="my-1">Ref $100 - $76</span>
            </div>
            <div class="d-flex flex-column cursor-pointer ms-2">
                <span class="my-1">Ref $100 - $76</span>
            </div>
            <div class="d-flex flex-column cursor-pointer ms-2">
                <span class="my-1">Ref $100 - $76</span>
            </div>

        </div>


    </div>

    <!-- Destacados -->
    <div class="border mt-5">

        <div class="border p-2 w-100">
            <h5 class="text-center cmm-txt-thin-bold">DESTACADOS</h5>
        </div>

        <div class="p-3">

            <!-- Carousel-->
            <div id="carousel" class="container carousel carousel-dark slide d-flex align-items-center"
                data-bs-touch="false" data-bs-pause="true">

                <!-- Indicadores de cantidade de porductos en el carrucel -->
                <div class="carousel-indicators">

                    <button *ngFor="let button of carouselData, index as i" type="button" data-bs-target="#carousel"
                        (click)="selectTemplate(i)" attr.data-bs-slide-to="{{i}}" [ngClass]="{'active': i == 0}"
                        aria-label="Slide 1"></button>

                </div>

                <!-- contendor de imagenes -->
                <div class="carousel-inner h-100 pb-5">

                    <!-- Plantilla -->
                    <div *ngFor="let product of carouselData, index as i" class="carousel-item h-100"
                        [ngClass]="{'active': i == 0}" data-bs-interval="5000">

                        <div class="col-12 col-md-10 col-lg-8 h-100 p-0 mx-auto d-flex align-items-center">

                            <img [src]="product.image" class="d-block mx-auto rounded"
                                style="max-height: 85%; max-width: 80%;" alt="imagen de la plantilla">

                        </div>

                    </div>

                </div>

                <!-- botones -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev"
                    (click)="prevElement()">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next"
                    (click)="nextElement()">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>

        </div>


        <div class="d-flex flex-column justify-content-center align-items-center mb-4">
            <h5 class="text-center">
                descripción del producto
            </h5>

            <span style="text-decoration: line-through;">{{currentProduct.originalPrice}}</span>
            <span>{{currentProduct.discountPrice}}</span>

            <!-- <cmp-core-button class="mt-3" customBgColor="#e81313">
                Agregar al carrito
            </cmp-core-button> -->

        </div>

    </div>

</div>