<footer style="background-color: #585858;">

    <div class="row mx-auto g-0 p-5 text-white" style="max-width: 1000px;">

        <div class="col-sm-6 col-md-3 mb-3 d-flex flex-column align-items-center justify-content-center">
            <h4 class="cmm-txt-thin-bold">NOSOTROS</h4>
            <span>Lorem Ipsum</span>
            <span>Lorem Ipsum</span>
            <span>Lorem Ipsum</span>
        </div>
        <div class="col-sm-6 col-md-3 mb-3 d-flex flex-column align-items-center justify-content-center">
            <h4 class="cmm-txt-thin-bold">AYUDA</h4>
            <span>Lorem Ipsum</span>
            <span>Lorem Ipsum</span>
            <span>Lorem Ipsum</span>
        </div>
        <div class="col-sm-6 col-md-3 mb-3 d-flex flex-column align-items-center justify-content-center">
            <h4 class="cmm-txt-thin-bold">POLÍTICA</h4>
            <span>Lorem Ipsum</span>
            <span>Lorem Ipsum</span>
            <span>Lorem Ipsum</span>
        </div>
        <div class="col-sm-6 col-md-3 mb-3 d-flex flex-column align-items-center justify-content-center">
            <h4 class="cmm-txt-thin-bold">ALIADOS</h4>
            <span>Lorem Ipsum</span>
            <span>Lorem Ipsum</span>
            <span>Lorem Ipsum</span>
        </div>

        <div class="col-12 d-flex justify-content-end">

            <img class="cursor-pointer small-scale" [src]="whatsappIcon" width="50" height="50" alt="">

        </div>

    </div>


</footer>