<div class="row mx-auto w-100 bg-white justify-content-evenly align-items-center px-4 mt-5">

    <cmp-cmm-product-detail-v1 [product]="product" [displayShadow]="displayShadow"></cmp-cmm-product-detail-v1>

    <mat-divider class="my-3"></mat-divider>

    <!-- Más detalles -->
    <!-- <div class="col-12 d-flex flex-column">

        <h3 class="cmm-txt-thin-bold mb-3">DESCRIPCIÓN</h3>

        <span class="cmm-txt-thin-bold mb-3">{{product.description}}</span>

        <div class="mb-3">
            <span class="cmm-txt-thin-bold">No. de Parte: </span>
            <span>{{product.partNumber}}</span>
        </div>

        <span class="cmm-txt-thin-bold mb-3">Características:</span>

        <div class="mb-3">
            <span>{{'Dimensiones: ' + product.aditionalDetails.size}}</span>
            <span>{{'Peso: ' + product.aditionalDetails.weight}}</span>
        </div>

        <span class="cmm-txt-thin-bold mb-3">Modelos de aplicación:</span>

        <span *ngFor="let item of product.aditionalDetails.applicationModels">{{item}}</span>

    </div> -->

</div>