.home_bg {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    // max-width: 100%;
}

.dynamicWidth {
    width: 50% !important;
}

@media (max-width: 768px) {

    .dynamicWidth {
        width: 100% !important;
    }

}