.home-bg-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
}

.dynamicWidth {
    width: 50% !important;
}

@media (max-width: 768px) {

    .dynamicWidth {
        width: 100% !important;
    }

}