<!-- marcas originales -->
<section class="w-100 position-relative home_bg" [style.background-image]="'url(' + images[0] +')'">

  <!-- <img class="w-100 position-absolute" [src]="images[0]" style="aspect-ratio: 16/9 !important;"> -->

  <div class="dynamicWidth h-100 d-flex flex-column align-items-center justify-content-center text-white"
    style="z-index: 100;">

    <h1 class="cmm-txt-thin-bold fs-50">MARCAS <br> ORIGINALES</h1>

    <span class="text-center">MÁXIMA CALIDAD EN REPUESTOS
    </span>

    <cmp-cmm-new-button class="mt-3">VER OFERTAS</cmp-cmm-new-button>

  </div>

</section>

<!-- artículos más buscados -->

<section class="w-100 mt-5">

  <h3 class="text-center">ARTÍCULOS <strong class="cmm-txt-thin-bold">MÁS BUSCADOS</strong></h3>

  <div class="row g-0">

    <div *ngFor="let item of popularProducts" class="col-3 p-3 d-flex flex-column align-items-center cursor-pointer"
      routerLink="/products/detail">

      <img class="w-100" [src]="item.img" style="aspect-ratio: 1;max-width: 200px;">

      <span class="mt-5">{{item.productName}}</span>

    </div>

  </div>

  <!-- Imagen publicitaria -->

  <img class="w-100 p-5" [src]="bigBottomAd" style="aspect-ratio: 16/8;">

</section>