<div class="container-fluid g-0 vh-100 overflow-x-hidden d-flex flex-column justify-content-between">

    <main class="row w-100 g-0 align-items-start" style="margin-bottom: 100px;"
        [ngStyle]="{'height': 'calc(100% - ' + footerHeight + 'px)'}">

        <!-- Espacio para el navbar -->
        <cmp-main-header id="header" class="overflow-hidden w-100" style="height: fit-content;"></cmp-main-header>

        <!-- Contenido principal -->
        <div class="overflow-hidden">

            <router-outlet></router-outlet>

        </div>

    </main>

    <!-- Footer -->
    <cmp-main-footer></cmp-main-footer>

</div>