.fixed_header {
    position: fixed !important;
    max-height: fit-content !important;
    z-index: 1000;
    transition: all ease;
}

.main_container {
    max-width: 1200px;
}

.sidenav {
    width: 100%;
    max-width: 300px;
}

@media (max-width: 567px) {

    .sidenav {
        max-width: 100%;
    }

}